
@media only screen  and (max-width:600px){

}
@media only screen  and (min-width:600px){
  
}
@media only screen  and (min-width:768px){
  
  
}
@media only screen  and (min-width:992px){
 
}
@media only screen  and (min-width:1200px){
 
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;

}

td {
  border-top: 4px solid #8D6B94;
  padding: 8px;
  text-align: center;
  background-color: #000;
  height: 255px;
  width: 250px;
}

button {
  animation: onduler 2s linear infinite;

}

/* Keyframes */
@keyframes onduler {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}


button {

  background: #8D6B94;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 40px;
  transform-origin: 50% 5em;

}



:root {
  --point-color: #8D6B94;
  --size: 5px;
}

.chargement {
  background-color: var(--main-color);
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.chargement-1 {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.chargement-1:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}

.chargement-1:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.chargement-1:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

.fireworks {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #E8DBC5;
  overflow: hidden;
  margin: auto;
} 

.spark {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #8D6B94;
  border-radius: 50%;
  animation: spark-animation 1s linear infinite;
}

@keyframes spark-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spark:nth-child(1) {
  top: 60px;
  left: 40px;
  animation-delay: 0s;
}

.spark:nth-child(2) {
  top: 30px;
  left: 60px;
  animation-delay: 0.2s;
}

.spark:nth-child(3) {
  top: 30px;
  left: 20px;
  animation-delay: 0.4s;
}

.spark:nth-child(4) {
  top: 60px;
  left: 80px;
  animation-delay: 0.6s;
}

.spark:nth-child(5) {
  top: 90px;
  left: 40px;
  animation-delay: 0.8s;
}


.content {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
}

.shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: pulse-animation 2s infinite;
  
}

@keyframes pulse-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    background-color: red;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.5;
    background-color: blue;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    background-color: red;
  }
}

.containt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: #8D6B94;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: card-animation 2s ease-in-out infinite;
}

@keyframes card-animation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.card h2 {
  font-size: 10px;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card p {
  padding: 10px;
  font-size: 10px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
 
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 1;
}


.animation {
  /* animation properties */
  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* other properties */
  width: 150px;
  height: 50px;
  border-radius: 10px;
 margin: auto;
  

}

@keyframes my-animation {
  from {
    background-color: #ff7a59;
    width: 100px;
    top: 10px;
  }

  to {
    background-color: #33475b;
    width: 20px;
    top: 100px;
  }
}
.slide-in-out{
    animation: slide-in-out 2s infinite alternate;
    height: 50px;
    border-radius: 10px;
  
  }
  
  @keyframes slide-in-out {
    0% { 
      transform: translateX(-100%);
      background-color: #8D6B94;
    }
    100% { 
      transform: translateX(0); 
      background-color: #ff7a59;
    }
  }
  .spin {
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    animation: spin 2s infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); 
      background-color: #8D6B94;
      }
    100% { transform: rotate(360deg);
    background-color: #ff7a59; }
  }
  .container{
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
  }
  
  .yellow{
    left:15px; 
    width: 30px;
    height: 30px;
    background:gold;
    box-shadow: 0px 0px 9px 4px gold;
  }
  
  .orange{
    left:10px; 
    width: 40px;
    height: 40px;
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
  }
  
  .red{
    left:5px;
    width: 50px;
    height: 50px;
    background:OrangeRed;
    box-shadow: 0px 0px 5px 4px OrangeRed;
  }
  
  .white{
    left:15px; 
    bottom:-4px;
    width: 30px;
    height: 30px;
    background:white;
    box-shadow: 0px 0px 9px 4px white;
  }
  
  .circle{
    border-radius: 50%;
    position:absolute;  
  }
  
  .blue{
    width: 10px;
    height: 10px;
    left:25px;
    bottom:-25px; 
    background: SlateBlue;
    box-shadow: 0px 0px 15px 10px SlateBlue;
  }
  
  .black{
    width: 40px;
    height: 40px;
    left:10px;
    bottom:-60px;  
    background: black;
    box-shadow: 0px 0px 15px 10px black;
  }
  
  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }
  .item1{
    background-color: #8D6B94;
    
    position: relative; 
    width: 50px;
    height: 20px; 
    border-top: 5px solid black;
    animation: spine 10s infinite;
   animation-fill-mode: forwards;
  }
  .item{
    border: 1px solid black;
}
@keyframes spine{

0%{
 opacity: o;
 width: 0%;
}
25%{
    opacity: 0,2;
    width: 25%;
    
}
50%{
    opacity: 0,5;
    width: 50%;
}
75%{
    opacity: 0,7;
    width: 75%;
}
100%{
    opacity: 1;
    width: 100%;
}
}

#html-spinner{
  width:40px;
  height:40px;
  border:4px solid #8D6B94;
  border-top:4px solid white;
  border-radius:50%;
  margin: auto;
}

#html-spinner{
  -webkit-transition-property: -webkit-transform;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.bg {

position: absolute;
top: 9px;
left: 8px;
right: 8px;
bottom: 8px;
  background-size: contain;
}

.bar {
  position: relative;
  height: 8px;
  background: #6a6a6a;
  width:  0%;
  top: 0px;
  left: 18px;
  margin-top: 8px;
  box-shadow: 0 0 3px rgba(192,192,192,0.9);
  animation: fill 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill1 {
animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
 animation:  fill-2 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill3 {
 animation:  fill-3 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill4 {
 animation:  fill-4 5s infinite alternate, colors 5s infinite alternate;
}
@keyframes fill {
  0%   { width: 0; }
  33%  { width: 30px;}
  66%  { width: 10px;}
  100% { width: 105px; }
}

@keyframes fill-1 {
  0%   { width: 0; }
  33%  { width: 50px;}
  66%  { width: 20px;}
  100% { width: 130px; }
}

@keyframes fill-2 {
  0%   { width: 0; }
  33%  { width: 90px;}
  66%  { width: 70px;}
  100% { width: 136px; }
}

@keyframes fill-3 {
  0%   { width: 0; }
  33%  { width: 50px;}
  66%  { width: 24px;}
  100% { width: 109px; }
}

@keyframes fill-4 {
  0%   { width: 0; }
  33%  { width: 98px;}
  66%  { width: 34px;}
  100% { width: 99px; }
}
@keyframes colors {
  0% { background-color: #5a5a5a;}
  50% { background-color: white;}
  100% { background-color: #6a6a6a;}
}
.demi {
  margin:80px auto;
  width: 80px;
  height: 80px;
  position:relative;
  animation: demi 2s infinite;
}

@keyframes demi {
  0% { transform: rotate(0deg); 
    background-color: #8D6B94;
    }
  100% { transform: rotate(180deg);
  background-color: #ff7a59; }
}
.slide-in {
  transform: translateX(-100%);
  animation: slideIn 2s ease-in forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
